
.navBar{
    background-color: #E7E9FF;
}

.botonesPaginas{
    align-items: center;
    margin-left: auto;
    margin-right: auto;


}

    .tituloNav{
        color: #191D74 !important;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem;
        font-size: 1.1rem;
        font-weight: 400;
    }

    .navbar-toggler{
        color: #191D74;
        border: none !important;
        
    }
    
    .navbar-toggler:focus {
        color: #191D74;
        border: none !important;
    }

    .navPrincipal{
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        color: white !important;
        border-radius: 28px !important;
        background-color: #191D74 !important;
        border-color: #191D74 !important;

    }

    .botonPrincipal{
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }

    .botonSecundario{
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }