.logo{
    margin: 0.3rem;
}

.container{
    background-color: #e7e9ff ;
    padding-left: 3.5vh;
    padding-right: 3.5vh;
}


.tituloNav{
color: #191D74 !important;
padding-left: 1rem;
padding-right: 1rem;
}

