

.mainCards{
  display: grid;
  gap: 1rem;
  grid-template-columns:  repeat(auto-fit, minmax(16rem, 1fr));
  grid-auto-rows: min(22rem, auto-fit);
}

.tituloPrincipal {
  text-align: center;
  padding-bottom: 0.1rem;
  padding-top: 1rem;
  font-size: calc(12px + 1.2vw + 1rem);
  color:  #191D74 ;
  font-weight: 700;
}

.container{
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  background: rgb(252,216,232);
  background: radial-gradient(circle, rgba(252,216,232,1) 0%, rgba(231,233,255,1) 81%);
}